/*替换 bulma*/
.content pre {
    padding: .7em 1em !important;
}

.menu-list a{
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
}
.menu-list a:hover {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    overflow-x: auto;
}

.menu-list a.is-active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}
code,pre{
    font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace,'Microsoft YaHei' !important;
}
/*ul, ol {*/
/*  margin-block-start: 1em;*/
/*  margin-block-end: 1em;*/
/*  margin-inline-start: 0px;*/
/*  margin-inline-end: 0px;*/
/*  padding-inline-start: 40px;*/
/*}*/
/*ul {*/
/*  list-style: disc;*/
/*}*/
/* w3 css */
body{
    background-color: #eee;
}
.w3-border{
    border: 1px solid #eee !important;
}
.w3-border-bottom {
    border-bottom: 1px solid #eee !important
}

.w3-border-right {
    border-right: 1px solid #eee !important
}

.w3-border-left {
    border-left: 1px solid #eee !important
}

/* Bulma Helpers */
.menu-label {
    font-size: 1em!important;
    margin-bottom: .1em !important;
    margin-top: .2em;
}
.bd-navbar .button.is-sponsor.is-light {
    color: var(--sponsor)
}

.has-text-white {
    color: white !important;
}

a.has-text-white:hover, a.has-text-white:focus {
    color: #e6e6e6 !important;
}

.has-text-black {
    color: #0a0a0a !important;
}

a.has-text-black:hover, a.has-text-black:focus {
    color: black !important;
}

.has-text-light {
    color: whitesmoke !important;
}

a.has-text-light:hover, a.has-text-light:focus {
    color: #dbdbdb !important;
}

.has-text-dark {
    color: #363636 !important;
}

a.has-text-dark:hover, a.has-text-dark:focus {
    color: #1c1c1c !important;
}

.has-text-primary {
    color: #00d1b2 !important;
}

a.has-text-primary:hover, a.has-text-primary:focus {
    color: #009e86 !important;
}

.has-text-primary-light {
    color: #ebfffc !important;
}

a.has-text-primary-light:hover, a.has-text-primary-light:focus {
    color: #b8fff4 !important;
}

.has-text-primary-dark {
    color: #00947e !important;
}

a.has-text-primary-dark:hover, a.has-text-primary-dark:focus {
    color: #00c7a9 !important;
}

.has-text-link {
    color: #485fc7 !important;
}

a.has-text-link:hover, a.has-text-link:focus {
    color: #3449a8 !important;
}

.has-text-link-light {
    color: #eff1fa !important;
}

a.has-text-link-light:hover, a.has-text-link-light:focus {
    color: #c8cfee !important;
}

.has-text-link-dark {
    color: #3850b7 !important;
}

a.has-text-link-dark:hover, a.has-text-link-dark:focus {
    color: #576dcb !important;
}

.has-text-info {
    color: #3e8ed0 !important;
}

a.has-text-info:hover, a.has-text-info:focus {
    color: #2b74b1 !important;
}

.has-text-info-light {
    color: #eff5fb !important;
}

a.has-text-info-light:hover, a.has-text-info-light:focus {
    color: #c6ddf1 !important;
}

.has-text-info-dark {
    color: #296fa8 !important;
}

a.has-text-info-dark:hover, a.has-text-info-dark:focus {
    color: #368ace !important;
}

.has-text-success {
    color: #48c78e !important;
}

a.has-text-success:hover, a.has-text-success:focus {
    color: #34a873 !important;
}

.has-text-success-light {
    color: #effaf5 !important;
}

a.has-text-success-light:hover, a.has-text-success-light:focus {
    color: #c8eedd !important;
}

.has-text-success-dark {
    color: #257953 !important;
}

a.has-text-success-dark:hover, a.has-text-success-dark:focus {
    color: #31a06e !important;
}

.has-text-warning {
    color: #ffe08a !important;
}

a.has-text-warning:hover, a.has-text-warning:focus {
    color: #ffd257 !important;
}

.has-text-warning-light {
    color: #fffaeb !important;
}

a.has-text-warning-light:hover, a.has-text-warning-light:focus {
    color: #ffecb8 !important;
}

.has-text-warning-dark {
    color: #946c00 !important;
}

a.has-text-warning-dark:hover, a.has-text-warning-dark:focus {
    color: #c79200 !important;
}

.has-text-danger {
    color: #f14668 !important;
}

a.has-text-danger:hover, a.has-text-danger:focus {
    color: #ee1742 !important;
}

.has-text-danger-light {
    color: #feecf0 !important;
}

a.has-text-danger-light:hover, a.has-text-danger-light:focus {
    color: #fabdc9 !important;
}

.has-text-danger-dark {
    color: #cc0f35 !important;
}

a.has-text-danger-dark:hover, a.has-text-danger-dark:focus {
    color: #ee2049 !important;
}

.has-text-expo {
    color: #ffd257 !important;
}

a.has-text-expo:hover, a.has-text-expo:focus {
    color: #ffc424 !important;
}

.has-text-expo-light {
    color: #fffaeb !important;
}

a.has-text-expo-light:hover, a.has-text-expo-light:focus {
    color: #ffecb8 !important;
}

.has-text-expo-dark {
    color: #946c00 !important;
}

a.has-text-expo-dark:hover, a.has-text-expo-dark:focus {
    color: #c79200 !important;
}

.has-text-love {
    color: #f14668 !important;
}

a.has-text-love:hover, a.has-text-love:focus {
    color: #ee1742 !important;
}

.has-text-love-light {
    color: #feecf0 !important;
}

a.has-text-love-light:hover, a.has-text-love-light:focus {
    color: #fabdc9 !important;
}

.has-text-love-dark {
    color: #cc0f35 !important;
}

a.has-text-love-dark:hover, a.has-text-love-dark:focus {
    color: #ee2049 !important;
}

.has-text-patreon {
    color: #f96854 !important;
}

a.has-text-patreon:hover, a.has-text-patreon:focus {
    color: #f73c23 !important;
}

.has-text-patreon-light {
    color: #feeeeb !important;
}

a.has-text-patreon-light:hover, a.has-text-patreon-light:focus {
    color: #fdc2ba !important;
}

.has-text-patreon-dark {
    color: #c01d07 !important;
}

a.has-text-patreon-dark:hover, a.has-text-patreon-dark:focus {
    color: #f12508 !important;
}

.has-text-rss {
    color: #f26522 !important;
}

a.has-text-rss:hover, a.has-text-rss:focus {
    color: #d54d0d !important;
}

.has-text-rss-light {
    color: #fef2ec !important;
}

a.has-text-rss-light:hover, a.has-text-rss-light:focus {
    color: #fbd0bc !important;
}

.has-text-rss-dark {
    color: #c1460b !important;
}

a.has-text-rss-dark:hover, a.has-text-rss-dark:focus {
    color: #f1570e !important;
}

.has-text-bleeding {
    color: #abf47c !important;
}

a.has-text-bleeding:hover, a.has-text-bleeding:focus {
    color: #8df04d !important;
}

.has-text-bleeding-light {
    color: #f3fdec !important;
}

a.has-text-bleeding-light:hover, a.has-text-bleeding-light:focus {
    color: #d5f9bd !important;
}

.has-text-bleeding-dark {
    color: #3c880b !important;
}

a.has-text-bleeding-dark:hover, a.has-text-bleeding-dark:focus {
    color: #51b70f !important;
}

.has-text-sass {
    color: #bf4080 !important;
}

a.has-text-sass:hover, a.has-text-sass:focus {
    color: #993366 !important;
}

.has-text-sass-light {
    color: #faf0f5 !important;
}

a.has-text-sass-light:hover, a.has-text-sass-light:focus {
    color: #edcadb !important;
}

.has-text-sass-dark {
    color: #b03b76 !important;
}

a.has-text-sass-dark:hover, a.has-text-sass-dark:focus {
    color: #c7578f !important;
}

.has-text-amazon {
    color: #ffd863 !important;
}

a.has-text-amazon:hover, a.has-text-amazon:focus {
    color: #ffcb30 !important;
}

.has-text-amazon-light {
    color: #fffaeb !important;
}

a.has-text-amazon-light:hover, a.has-text-amazon-light:focus {
    color: #ffedb8 !important;
}

.has-text-amazon-dark {
    color: #946f00 !important;
}

a.has-text-amazon-dark:hover, a.has-text-amazon-dark:focus {
    color: #c79500 !important;
}

.has-text-sponsor {
    color: #ea4aaa !important;
}

a.has-text-sponsor:hover, a.has-text-sponsor:focus {
    color: #e51c95 !important;
}

.has-text-sponsor-light {
    color: #fdedf6 !important;
}

a.has-text-sponsor-light:hover, a.has-text-sponsor-light:focus {
    color: #f8bfe1 !important;
}

.has-text-sponsor-dark {
    color: #c0167c !important;
}

a.has-text-sponsor-dark:hover, a.has-text-sponsor-dark:focus {
    color: #e62498 !important;
}

.has-text-twitter {
    color: #55acee !important;
}

a.has-text-twitter:hover, a.has-text-twitter:focus {
    color: #2795e9 !important;
}

.has-text-twitter-light {
    color: #ecf6fd !important;
}

a.has-text-twitter-light:hover, a.has-text-twitter-light:focus {
    color: #bedff9 !important;
}

.has-text-twitter-dark {
    color: #10609e !important;
}

a.has-text-twitter-dark:hover, a.has-text-twitter-dark:focus {
    color: #147dcc !important;
}

.has-text-videos {
    color: #48c78e !important;
}

a.has-text-videos:hover, a.has-text-videos:focus {
    color: #34a873 !important;
}

.has-text-videos-light {
    color: #effaf5 !important;
}

a.has-text-videos-light:hover, a.has-text-videos-light:focus {
    color: #c8eedd !important;
}

.has-text-videos-dark {
    color: #257953 !important;
}

a.has-text-videos-dark:hover, a.has-text-videos-dark:focus {
    color: #31a06e !important;
}

.has-text-extensions {
    color: #3e8ed0 !important;
}

a.has-text-extensions:hover, a.has-text-extensions:focus {
    color: #2b74b1 !important;
}

.has-text-extensions-light {
    color: #eff5fb !important;
}

a.has-text-extensions-light:hover, a.has-text-extensions-light:focus {
    color: #c6ddf1 !important;
}

.has-text-extensions-dark {
    color: #296fa8 !important;
}

a.has-text-extensions-dark:hover, a.has-text-extensions-dark:focus {
    color: #368ace !important;
}

.has-text-bootstrap {
    color: #6f5499 !important;
}

a.has-text-bootstrap:hover, a.has-text-bootstrap:focus {
    color: #574278 !important;
}

.has-text-bootstrap-light {
    color: #f4f2f8 !important;
}

a.has-text-bootstrap-light:hover, a.has-text-bootstrap-light:focus {
    color: #d9d1e6 !important;
}

.has-text-bootstrap-dark {
    color: #73579e !important;
}

a.has-text-bootstrap-dark:hover, a.has-text-bootstrap-dark:focus {
    color: #8d75b3 !important;
}

.has-text-black-bis {
    color: #121212 !important;
}

.has-text-black-ter {
    color: #242424 !important;
}

.has-text-grey-darker {
    color: #363636 !important;
}

.has-text-grey-dark {
    color: #4a4a4a !important;
}

.has-text-grey {
    color: #7a7a7a !important;
}

.has-text-grey-light {
    color: #b5b5b5 !important;
}

.has-text-grey-lighter {
    color: #dbdbdb !important;
}

.has-text-white-ter {
    color: whitesmoke !important;
}

.has-text-white-bis {
    color: #fafafa !important;
}

.has-text-centered {
    text-align: center !important;
}

.has-text-justified {
    text-align: justify !important;
}

.has-text-left {
    text-align: left !important;
}

.has-text-right {
    text-align: right !important;
}

.has-text-weight-light {
    font-weight: 300 !important;
}

.has-text-weight-normal {
    font-weight: 400 !important;
}

.has-text-weight-medium {
    font-weight: 500 !important;
}

.has-text-weight-semibold {
    font-weight: 600 !important;
}

.has-text-weight-bold {
    font-weight: 700 !important;
}

.has-text-bootstrap {
    color: var(--bootstrap) !important;
}

.has-text-github {
    color: var(--github) !important;
}

.has-text-twitter {
    color: var(--twitter) !important;
}

.has-text-patreon {
    color: var(--patreon) !important;
}

.has-text-patreon-blue {
    color: var(--patreon-blue) !important;
}

.has-text-fortyfour {
    color: var(--fortyfour) !important;
}

.has-text-amazon {
    color: var(--amazon) !important;
}

.has-text-bleeding-green {
    color: var(--bleeding-green) !important;
}

.has-text-bleeding-red {
    color: var(--bleeding-red) !important;
}

.has-text-rss {
    color: var(--rss) !important;
}

.has-text-videos {
    color: var(--videos) !important;
}

.has-text-expo {
    color: var(--expo) !important;
}

.has-text-love {
    color: var(--love) !important;
}

.has-text-backers {
    color: var(--backers) !important;
}

.has-text-sponsors {
    color: var(--sponsors) !important;
}

.has-text-blog {
    color: var(--blog) !important;
}

.has-text-extensions {
    color: var(--extensions) !important;
}

.has-text-algolia {
    color: var(--algolia) !important;
}

.bd-navbar-item {
    transition-duration: 86ms;
    transition-property: background-color, box-shadow, color;
    font-size: 1.1em;
}

.bd-navbar-item > .icon {
    margin-left: -0.25em;
    margin-right: 0.25em;
}

.bd-navbar-item:hover, .bd-navbar-item.is-active {
    border-radius: 0.375em;
    color: var(--color-dark) !important;
}

.bd-navbar-item:hover:not(.is-active) {
    background-color: var(--color-light) !important;
}

.bd-navbar-item.is-active {
    background-color: transparent !important;
    box-shadow: inset 0 0 0 2px var(--color-light) !important;
}

.bd-navbar-item.bd-navbar-item-documentation {
    --color-light: var(--primary-light);
    --color-dark: var(--primary-dark);
}

.bd-navbar-item.bd-navbar-item-videos {
    --color-light: var(--videos-light);
    --color-dark: var(--videos-dark);
}

.bd-navbar-item.bd-navbar-item-expo {
    --color-light: var(--expo-light);
    --color-dark: var(--expo-dark);
}

.bd-navbar-item.bd-navbar-item-love {
    --color-light: var(--love-light);
    --color-dark: var(--love-dark);
}

.bd-navbar-item.bd-navbar-item-backers {
    --color-light: var(--patreon-light);
    --color-dark: var(--patreon-dark);
}

.bd-navbar-item.bd-navbar-item-bulma-book {
    --color-light: var(--bleeding-light);
    --color-dark: var(--bleeding-dark);
}

.bd-navbar-item.bd-navbar-item-blog {
    --color-light: var(--rss-light);
    --color-dark: var(--rss-dark);
}

.bd-navbar-item.bd-navbar-item-brand {
    --color-light: var(--primary-light);
    --color-dark: var(--primary-dark);
}

.bd-navbar-item.bd-navbar-item-extensions {
    --color-light: var(--extensions-light);
    --color-dark: var(--extensions-dark);
}

.bd-navbar-item.bd-navbar-item-bulma-start {
    --color-light: var(--success-light);
    --color-dark: var(--success-dark);
}

.bd-navbar-item.bd-navbar-item-made-with-bulma {
    --color-light: var(--expo-light);
    --color-dark: var(--expo-dark);
}

/*.bd-navbar-start.bd-is-original .bd-navbar-item-more:not(.bd-is-visible) {*/
/*  display: none;*/
/*}*/
@media screen and (max-width: 768px) {
    .bd-navbar .navbar-start > .bd-navbar-item:not(.has-dropdown) {
        display: flex;
    }

    .bd-navbar .navbar-end {
        display: none;
    }

    .bd-navbar-item .navbar-link:not(.is-arrowless) {
        display: none;
    }

    .bd-navbar-item-more {
        display: none !important;
    }
}

:root {
    --white: white;
    --white-invert: #0a0a0a;
    --black: #0a0a0a;
    --black-invert: white;
    --light: whitesmoke;
    --light-invert: rgba(0, 0, 0, 0.7);
    --dark: #363636;
    --dark-invert: #fff;
    --primary: #00d1b2;
    --primary-invert: #fff;
    --primary-light: #ebfffc;
    --primary-dark: #00947e;
    --link: #485fc7;
    --link-invert: #fff;
    --link-light: #eff1fa;
    --link-dark: #3850b7;
    --info: #3e8ed0;
    --info-invert: #fff;
    --info-light: #eff5fb;
    --info-dark: #296fa8;
    --success: #48c78e;
    --success-invert: #fff;
    --success-light: #effaf5;
    --success-dark: #257953;
    --warning: #ffe08a;
    --warning-invert: rgba(0, 0, 0, 0.7);
    --warning-light: #fffaeb;
    --warning-dark: #946c00;
    --danger: #f14668;
    --danger-invert: #fff;
    --danger-light: #feecf0;
    --danger-dark: #cc0f35;
    --expo: #ffd257;
    --expo-invert: white;
    --expo-light: #fffaeb;
    --expo-dark: #946c00;
    --love: #f14668;
    --love-invert: white;
    --love-light: #feecf0;
    --love-dark: #cc0f35;
    --patreon: #f96854;
    --patreon-invert: white;
    --patreon-light: #feeeeb;
    --patreon-dark: #c01d07;
    --rss: #f26522;
    --rss-invert: white;
    --rss-light: #fef2ec;
    --rss-dark: #c1460b;
    --bleeding: #abf47c;
    --bleeding-invert: rgba(0, 0, 0, 0.7);
    --bleeding-light: #f3fdec;
    --bleeding-dark: #3c880b;
    --sass: #bf4080;
    --sass-invert: white;
    --sass-light: #faf0f5;
    --sass-dark: #b03b76;
    --amazon: #ffd863;
    --amazon-invert: rgba(0, 0, 0, 0.7);
    --amazon-light: #fffaeb;
    --amazon-dark: #946f00;
    --sponsor: #ea4aaa;
    --sponsor-invert: white;
    --sponsor-light: #fdedf6;
    --sponsor-dark: #c0167c;
    --twitter: #55acee;
    --weixin: #48c78e;
    --twitter-invert: white;
    --twitter-light: #ecf6fd;
    --twitter-dark: #10609e;
    --videos: #48c78e;
    --videos-invert: white;
    --videos-light: #effaf5;
    --videos-dark: #257953;
    --extensions: #3e8ed0;
    --extensions-invert: white;
    --extensions-light: #eff5fb;
    --extensions-dark: #296fa8;
    --bootstrap: #6f5499;
    --bootstrap-invert: white;
    --bootstrap-light: #f4f2f8;
    --bootstrap-dark: #73579e;
    --bootstrap: #6f5499;
    --github: #333333;
    --twitter: #55acee;
    --patreon: #f96854;
    --patreon-blue: #052d49;
    --fortyfour: #5f45bb;
    --amazon: #ffd863;
    --bleeding-green: #abf47c;
    --bleeding-red: #ca1f26;
    --rss: #f26522;
    --search: #00d1b2;
    --search-light: #ebfffc;
    --search-dark: #00947e;
    --html5: #e44d26;
    --html5-invert: #ebebeb;
    --hl-green: #37e7ac;
    --hl-cyan: #51fbde;
    --hl-blue: #00b2ff;
    --hl-purple: #9a89b4;
    --hl-lavender: #9b6dff;
    --hl-pink: #ff5cd3;
    --hl-rose: #ff6b9d;
    --hl-orange: #ff9970;
    --hl-yellow: #fed604;
    --hl-gray-01: #d9e0e8;
    --hl-gray-02: #808182;
    --hl-gray-09: #1f2330;
    --hl-color: var(--hl-orange);
    --hl-background: var(--hl-gray-09);
    --container-width: calc(100vw - 3rem);
    --container-width-desktop: 960px;
    --container-width-widescreen: 1152px;
    --container-width-fullhd: 1344px
}


/* 文章正文*/
@media screen and (max-width: 768px) {
    .byte-post-content {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}
.byte-post-content {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
    line-height: 1.8;
    background-color: white;
    color: #262626;
    /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;*/
    word-wrap: break-word;
}
.byte-post-content p a,.byte-post-content li a,.byte-post-content table tr td a,.byte-post-content table tr th a {
    color: #0645ad !important;
}
.byte-post-content p a:hover,.byte-post-content li a:hover,.byte-post-content table tr td a:hover,.byte-post-content table tr th a:hover {
    text-decoration:underline;
}
.byte-post-title{
    margin-top: 20px;
    margin-bottom: 20px;
}

.byte-post-content p img {
    display: block;
    margin: 0 auto;
    max-width: 95%;
}

.byte-post-content p strong, .byte-post-content li strong {
    color: #348637;
}

.byte-post-content p code, .byte-post-content li>code, .byte-post-content td>code {
    color: #202020;
    font-size: 1em;
    word-break: normal;
    background-color: #eaecf0;
    border-radius: .25rem;
    padding: .1em .5em .1em !important;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

.byte-post-content li p {
    margin-bottom: 0px !important;
}

.byte-post-content pre {
    font-size: 14px !important;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.byte-post-content blockquote {
    background-color: #ebfffc;
    border-radius: 4px;
    border-left: 4px solid #00d1b2;
    padding:  1em 1.5em !important;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 10px;
    color: #00947e;
}

/* 回到顶部*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
}
/*悬浮窗*/
.notification {
    position: fixed;
    border-radius: 3px;
    padding: 5px;
}
/* 文章正文结束*/
.footer {
    margin-top: 30px;
    color: #626262;
    text-align: center;
    background-color: white !important;
    padding: 50px 0;
}

.footer a {
    color: #626262;
}
.footer-a{
    margin:0 5px;
}
@media screen and (max-width: 992px) {
    .footer-a {
        font-size:50px;
    }
}

.byte-search{
    width: 180px;
    background-color:#f5f5f5;
    border-color: #8BC34A;
}
.byte-search:hover{
    border-color: #8BC34A !important;
}