:root {
    --theme-green: #4CAF50;
    --white: white;
    --white-invert: #0a0a0a;
    --black: #0a0a0a;
    --black-invert: white;
    --light: whitesmoke;
    --light-invert: rgba(0, 0, 0, 0.7);
    --dark: #363636;
    --dark-invert: #fff;
    --primary: #00d1b2;
    --primary-invert: #fff;
    --primary-light: #ebfffc;
    --primary-dark: #00947e;
    --link: #485fc7;
    --link-invert: #fff;
    --link-light: #eff1fa;
    --link-dark: #3850b7;
    --info: #3e8ed0;
    --info-invert: #fff;
    --info-light: #eff5fb;
    --info-dark: #296fa8;
    --success: #48c78e;
    --success-invert: #fff;
    --success-light: #effaf5;
    --success-dark: #257953;
    --warning: #ffe08a;
    --warning-invert: rgba(0, 0, 0, 0.7);
    --warning-light: #fffaeb;
    --warning-dark: #946c00;
    --danger: #f14668;
    --danger-invert: #fff;
    --danger-light: #feecf0;
    --danger-dark: #cc0f35;
    --expo: #ffd257;
    --expo-invert: white;
    --expo-light: #fffaeb;
    --expo-dark: #946c00;
    --love: #f14668;
    --love-invert: white;
    --love-light: #feecf0;
    --love-dark: #cc0f35;
    --patreon: #f96854;
    --patreon-invert: white;
    --patreon-light: #feeeeb;
    --patreon-dark: #c01d07;
    --rss: #f26522;
    --rss-invert: white;
    --rss-light: #fef2ec;
    --rss-dark: #c1460b;
    --bleeding: #abf47c;
    --bleeding-invert: rgba(0, 0, 0, 0.7);
    --bleeding-light: #f3fdec;
    --bleeding-dark: #3c880b;
    --sass: #bf4080;
    --sass-invert: white;
    --sass-light: #faf0f5;
    --sass-dark: #b03b76;
    --amazon: #ffd863;
    --amazon-invert: rgba(0, 0, 0, 0.7);
    --amazon-light: #fffaeb;
    --amazon-dark: #946f00;
    --sponsor: #ea4aaa;
    --sponsor-invert: white;
    --sponsor-light: #fdedf6;
    --sponsor-dark: #c0167c;
    --twitter: #55acee;
    --weixin: #48c78e;
    --twitter-invert: white;
    --twitter-light: #ecf6fd;
    --twitter-dark: #10609e;
    --videos: #48c78e;
    --videos-invert: white;
    --videos-light: #effaf5;
    --videos-dark: #257953;
    --extensions: #3e8ed0;
    --extensions-invert: white;
    --extensions-light: #eff5fb;
    --extensions-dark: #296fa8;
    --bootstrap: #6f5499;
    --bootstrap-invert: white;
    --bootstrap-light: #f4f2f8;
    --bootstrap-dark: #73579e;
    --bootstrap: #6f5499;
    --github: #333333;
    --twitter: #55acee;
    --patreon: #f96854;
    --patreon-blue: #052d49;
    --fortyfour: #5f45bb;
    --amazon: #ffd863;
    --bleeding-green: #abf47c;
    --bleeding-red: #ca1f26;
    --rss: #f26522;
    --search: #00d1b2;
    --search-light: #ebfffc;
    --search-dark: #00947e;
    --html5: #e44d26;
    --html5-invert: #ebebeb;
    --hl-green: #37e7ac;
    --hl-cyan: #51fbde;
    --hl-blue: #00b2ff;
    --hl-purple: #9a89b4;
    --hl-lavender: #9b6dff;
    --hl-pink: #ff5cd3;
    --hl-rose: #ff6b9d;
    --hl-orange: #ff9970;
    --hl-yellow: #fed604;
    --hl-gray-01: #d9e0e8;
    --hl-gray-02: #808182;
    --hl-gray-09: #1f2330;
    --hl-color: var(--hl-orange);
    --hl-background: var(--hl-gray-09);
}
/*替换高亮*/
pre code.hljs{
    padding: .5em .8em !important;
    background-color: #eee;
    /*border: 1px solid #80808026;*/
    /*line-height: 1.5;*/
    border-radius: 10px;
}
/*替换 bulma*/
.content pre {
    padding: 0px !important;
    background-color: white;
}
pre code{
    font-size: 1.1em !important;
}
.menu-label{
    font-size: 1em !important;
    color: #273239 !important;
    margin-top: .5em;
    margin-bottom: .5em !important;
}

.menu-list a{
    color: #273239 !important;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
}
.menu-list a:hover {
    background-color: var(--theme-green);
    color: white !important;;
    border-radius: 10px;
    overflow-x: auto;
}

.menu-list a.is-active {
    background-color: var(--theme-green);
    color: white !important;;
    border-radius: 10px;
}
code,pre{
    font-family: consolas,Menlo,"PingFang SC","Microsoft YaHei",sans-serif !important;
}
/* w3 css */
body{
    background-color: #f5f5f7;
    font-family: "PingFang SC","Hiragino Sans GB","Microsoft YaHei" !important;
    font-size: 16px;
}
.w3-border{
    border: 1px solid #eee !important;
}
.w3-border-bottom {
    border-bottom: 1px solid #eee !important
}

.w3-border-right {
    border-right: 1px solid #eee !important
}

.w3-border-left {
    border-left: 1px solid #eee !important
}
.navbar-item,.navbar-link {
    padding-top:0px !important;
    padding-left:0px !important;
    padding-bottom:0px !important;
}
.navbar-link:not(.is-arrowless) {
    padding-right: 2em !important;
}

.navbar-link:not(.is-arrowless)::after {
    border-color: #287b2b !important;
    right: 1em !important;
}

.navbar-item {
    font-size: 1.1em !important;
    font-weight: bold !important;
    padding: 8px !important;
}
.navbar-item:hover {
    border-radius:10px;
    background-color:#f2f2f2 !important;
    color:#000000 !important;
}

/* 文章正文*/
@media screen and (max-width: 768px) {
    .byte-post-content {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}
.byte-post-content {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 5rem;
    line-height: 1.8;
    background-color: white;
    color: #262626;
    /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;*/
    word-wrap: break-word;
}
.byte-post-content p a,.byte-post-content li a,.byte-post-content table tr td a,.byte-post-content table tr th a {
    color: #0645ad !important;
    padding: 0 4px;
    font-weight: 500;
    border-radius: 4px 4px 0 0;
    transition: all 0.3s ease; /* 对所有属性应用过渡效果 */
}
.byte-post-content p a:hover,.byte-post-content li a:hover,.byte-post-content table tr td a:hover,.byte-post-content table tr th a:hover {
    text-decoration: none;
    background-color: var(--theme-green);
    border-width: 0;
    border-radius: 10px;
    padding: 4px 8px;
    color: white!important;
}
.byte-post-title{
    margin-top: 20px;
    margin-bottom: 20px;
}

.byte-post-content p img {
    display: block;
    margin: 0 auto;
    max-width: 95%;
    border-radius: 12px;
}

.byte-post-content p strong, .byte-post-content li strong {
    color: #348637;
}

.byte-post-content p code, .byte-post-content li>code, .byte-post-content td>code {
    color: #202020;
    font-size: 1em;
    word-break: normal;
    background-color: #eaecf0;
    border-radius: .25rem;
    padding: .2em .5em .2em !important;
}

.byte-post-content li p {
    margin-bottom: 0px !important;
}

.byte-post-content pre {
    font-size: 14px !important;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.byte-post-content blockquote {
    background-color: #e6f6e6;
    border-radius: 10px;
    border-left: 5px solid var(--theme-green);
    padding:  1em 1.5em !important;
}

/* 回到顶部*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
}
/*悬浮窗*/
/*.notification {*/
/*    position: fixed;*/
/*    border-radius: 10px;*/
/*    padding: 5px;*/
/*}*/
/* 文章正文结束*/
.footer {
    margin-top: 30px;
    color: #626262;
    text-align: center;
    background-color: white !important;
    padding: 50px 0;
}
.footer a {
    padding:2px 4px;
    color: #626262;
    border-radius:14px;
    transition: all 0.3s ease; /* 对所有属性应用过渡效果 */
}
.footer a:hover{
    background-color:var(--theme-green);
    color:white;
}

@media screen and (max-width: 992px) {
    .footer-a {
        font-size:50px;
    }
}

@media screen and (min-width: 1700px) {
    .byte-post-main {
        margin: 1.5em !important;
    }
}
.byte-search{
    width: 180px;
    background-color:#f5f5f5;
    border-color: #8BC34A;
}
.byte-search:hover{
    border-color: #8BC34A !important;
}
.goto-top {
    font-size: 3em;
    border-radius: 25px;
    color: rgba(76, 175, 80, 0.79);
}
.goto-top:hover {
    color:var(--theme-green);
}