<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="https://www.thymeleaf.org/">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${postInfo.getTitle().concat(' | 未读代码')}">标题</title>
    <meta name="description" th:attr="content=${postInfo.getDescription()}">
    <meta name="keywords" th:attr="content=${postInfo.getKeywords()}">
    <link rel="icon" href="/static/fav.png">
    <link rel="stylesheet" href="/static/bulma.min.css" />
    <link rel="stylesheet" href="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/font-awesome/6.0.0/css/brands.min.css">
<!--    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/vssue/1.4.8/vssue.min.css">-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/highlight.js/11.9.0/styles/intellij-light.min.css">
    <!--    <link rel="stylesheet" href="https://cdn.staticfile.org/highlight.js/11.9.0/styles/atom-one-dark.min.css">-->
    <!--    <link rel="stylesheet" href="https://cdn.staticfile.org/highlight.js/11.9.0/styles/routeros.min.css">-->
    <link rel="stylesheet" href="/static/tool.css">
    <!--    <link rel="stylesheet" href="/static/highlightjs-copy.min.css">-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/artalk/2.8.2/Artalk.css" >
    <script src="https://cdn.staticfile.org/artalk/2.8.2/Artalk.js"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-452V0ZSNPR"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-452V0ZSNPR');
</script>
<script>
    <!-- baidu-->
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?95fc5fbbc05e1ddccdeb992adfe12ded";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
    <!-- end baidu-->
</script>
<body>
<!-- Navbar -->
<div th:include="menu::common_menu"></div>

<div class="mr-5 ml-5 mt-5 byte-post-main">
    <div class="columns">
        <div class="column is-2 is-3-tablet is-2-desktop is-hidden-mobile">
            <aside class="menu">
                <div th:each="menu:${menuNode.getChildren()}" class="w3-container">
                    <p th:text="${menu.getName()}" class="menu-label">General</p>
                    <ul class="menu-list" th:each="subMenu:${menu.getChildren()}">
                        <li>
                            <a th:if="${subMenu.getData().getTitle().equals(postInfo.getTitle())}" class="is-active" th:href="${subMenu.getData().getPermalink()}" th:text="${subMenu.getData().getTitle()}">Learn</a>
                            <a th:unless="${subMenu.getData().getTitle().equals(postInfo.getTitle())}" th:href="${subMenu.getData().getPermalink()}" th:text="${subMenu.getData().getTitle()}">Learn</a>
                        </li>
                    </ul>
                </div>

            </aside>
        </div>
        <div class="column is-8  is-9-tablet is-8-desktop is-primary is-full-mobile byte-post-content w3-border">
            <div class="byte-post-title"><h1 class="title is-3" th:text="${postInfo.getTitle()}">标题</h1></div>
            <div class="content" id="content">[(${postInfo.getHtmlContent()})]</div>
<!--            <div style="background-color: #00800012;padding: 10px 20px;border-radius: 3px;color: green">-->
<!--                <div><i class="far fa-calendar-alt" style="color: green;"></i> 更新时间：2023-11-08 </div>-->
<!--                <div><i class="fas fa-copyright"    style="color: green;"></i> 版权声明：禁止转载 </div>-->
<!--            </div>-->
<!--            <div id="vssue" class="mt-6"></div>-->
            <br/>
            <comments>
                <p style="color: var(--theme-a);font-weight: 700;font-size: 1.2em;">评论</p>
                <div id="Comments"></div>
            </comments>
        </div>
        <div class="column is-2 is-hidden-touch">
            <div class="is-3">目录</div>
            <ul class="menu-list" th:each="tocInfo:${tocInfoList}">
                <li><a th:style="'margin-left: ' + ${tocInfo.getLeft()} + 'px;'" th:href="${'#'+tocInfo.getMiddle()}" th:text="${tocInfo.getRight()}"></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- Footer -->
<div th:include="footer::common_footer"></div>
<div id="myBtn" style="display: block;">
    <a class="goto-top" onclick="topFunction()"><i class=" fa fa-arrow-up fa-fw"></i></a>
</div>
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/pangu/4.0.7/pangu.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        // Add a click event on each of them
        $navbarBurgers.forEach(el => {
            el.addEventListener('click', () => {
                // Get the target from the "data-target" attribute
                const target = el.dataset.target;
                const $target = document.getElementById(target);
                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');

            });
        });
    });
    // 文字格式化
    pangu.spacingElementByClassName('byte-post-content');
    document.addEventListener('DOMContentLoaded', () => {
        pangu.autoSpacingPage();
    });
    // 回到顶部
    // Get the button
    let mybutton = document.getElementById("myBtn");
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

    // 获取需要添加悬浮效果的元素
    var hoverElement = document.getElementById('sponsor');
    // 创建鼠标移入事件监听器
    hoverElement.addEventListener('mouseenter', function() {
        showNotification(hoverElement);
    });
    // 创建鼠标移出事件监听器
    hoverElement.addEventListener('mouseleave', function() {
        // 获取hoverElement下面的<img>元素
        var imgDiv = document.getElementById('notification');
        // 移除<img>元素
        imgDiv.remove();
    });

    function showNotification(ref) {
        // 创建新的<img>元素
        var node = document.createElement('img');
        // 设置图片URL
        node.src = 'https://cdn.debug.group/git/webinfo/wp.png';
        // 将<img>元素添加到hoverElement下面
        node.className = "notification";
        node.id = "notification";
        let coords = ref.getBoundingClientRect();
        node.style.right = "20px";
        node.style.top = coords.bottom + 5 + "px";
        node.style.width = "250px";
        document.body.appendChild(node);
    }
</script>
<!--<script src="/static/prism.js"></script>-->
<script src="https://cdn.staticfile.org/highlight.js/11.9.0/highlight.min.js"></script>
<!-- and it's easy to individually load additional languages -->
<script src="https://cdn.staticfile.org/highlight.js/11.9.0/languages/java.min.js"></script>
<!--<script src="/static/highlightjs-copy.min.js"></script>-->
<script>
        hljs.highlightAll();
</script>
<!--<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.14/vue.runtime.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
<!--<script src="https://cdn.bootcdn.net/ajax/libs/vssue/1.4.8/vssue.github-v4.min.js"></script>-->
<!--<script src="/static/vssue.js"></script>-->
<script>
    // function pvGet() {
    //     let request = new XMLHttpRequest(); // 新建XMLHttpRequest对象
    //     request.open('GET', 'https://debug.group/api/pv?url=' + btoa(location.pathname), true);
    //     request.setRequestHeader("Content-Type", "text/plain");
    //     // 发送请求
    //     request.send();
    // }
    // pvGet();
</script>
<script src="/static/FullscreenImage.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        enableFullscreenForImages('content');
    });
    Artalk.init({
        el: '#Comments',
        locale: "auto",
        server: 'https://debug.group:8398',
        site: 'wdbyte.com',
    })
</script>
</html>
