<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <footer th:fragment="common_footer">
        <div class="footer">
            <div style="font-size: 1.5em;">
                <a class="footer-a" aria-label="公众号" target="_blank" href="/static/wechat.html"><i class="fab fa-lg fa-weixin fa-fw"></i></a><span> </span>
                <a class="footer-a" aria-label="Github" target="_blank" href="https://github.com/niumoo"><i class="fab fa-lg fa-github-alt fa-fw"></i></a><span> </span>
                <a class="footer-a" aria-label="邮件反馈" target="_blank" href="mailto:niumoo@126.com"><i class="fa fa-envelope fa-fw"></i></a><span> </span>
                <a class="footer-a" aria-label="文章归档" target="_blank" href="/archives/"><i class="fa fa-book fa-fw"></i></a><span> </span>
                <a class="footer-a" aria-label="网站地图" target="_blank" href="/sitemap.xml"><i class="fas fa-map-marked-alt fa-fw"></i></a>
                <a class="footer-a" aria-label="Feed XML" target="_blank" href="/feed.xml"><i class="fa fa-rss fa-fw"></i></a>
            </div>
            <p>CSS Powered by <a href="https://bulma.io">Bulma.css</a> | Copyright © 2018-2023 程序猿阿朗</p>
            <p> 本站文章谢绝转载</p>
        </div>
    </footer>
</head>
<body>
</body>
</html>
