<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>未读代码</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="网站提供 Java 相关教程，Java 进阶知识，以及 Java 相关的其他知识，如数据结构，算法，计算机组成原理，操作系统等。让编程简单有趣">
    <meta name="keywords" content="Java, Java 开发, Java 教程, Java 新特性, Spring Boot">
    <link rel="icon" href="/static/fav.png">
    <link rel="stylesheet" type="text/css" href="/static/bit.css">
    <link rel="stylesheet" type="text/css" href="/static/ftp.css">
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?95fc5fbbc05e1ddccdeb992adfe12ded";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-130656610-2', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
    <div class="index-header">
        <h1><a href="/">/ 程序猿阿朗</a></h1>
        <p class="meta">Hi there 👋 我是阿朗，一名 Java 开发者（现在是末代古法编程人员了），热衷于分享一些通俗易懂的技术文章。分享几句鸡汤：长寿在于生活规律；成功在于坚持不懈。做好的事情，而不是好做的事情。</p>
    </div>

    <div class="table-header">
        <span class="col-name">Name</span>
        <span class="col-desc">Description</span>
        <span class="col-mtime">Last modified</span>
    </div>

    <ul class="index-list">
        <li>最近更新
            <ul>
                <li th:each="postInfoTemp:${postInfoList}">
                    <a th:href="${postInfoTemp.getPermalink()}" th:text="${postInfoTemp.getTitle()}">文章标题</a>
                    <span class="desc"></span>
                    <span class="mtime" th:text="${postInfoTemp.getDate() != null ? postInfoTemp.getDate().substring(0,10) : (postInfoTemp.getUpdated() != null ? postInfoTemp.getUpdated().substring(0,10) : '')}">2024-01-01</span>
                </li>
            </ul>
        </li>
        <li>一些开源项目
            <ul>
                <li>
                    <a href="https://bing.wdbyte.com">必应每日壁纸</a>
                    <span class="desc">自动抓取必应每日壁纸，已获 3000+ Star</span>
                    <span class="mtime">2024-01-01</span>
                </li>
                <li>
                    <a href="https://debug.group">开发者工具箱</a>
                    <span class="desc">JSON 格式化、时间戳等常用在线工具</span>
                    <span class="mtime">2024-01-01</span>
                </li>
                <li>
                    <a href="https://pic.debug.group">GitHub 在线图床</a>
                    <span class="desc">基于 GitHub API 的在线图床服务</span>
                    <span class="mtime">2024-01-01</span>
                </li>
            </ul>
        </li>
        <li th:each="catNode:${catNodeList}"><span th:text="${catNode.getName()}">分类名称</span>
            <ul>
                <li th:each="postInfo:${catNode.getChildren()}">
                    <a th:href="${postInfo.getData().getPermalink()}" th:text="${postInfo.getData().getTitle()}">文章标题</a>
                    <span class="desc"></span>
                    <span class="mtime" th:text="${postInfo.getData().getDate() != null ? postInfo.getData().getDate().substring(0,10) : (postInfo.getData().getUpdated() != null ? postInfo.getData().getUpdated().substring(0,10) : '')}">2024-01-01</span>
                </li>
            </ul>
        </li>
    </ul>

    <footer>
        <p>未读代码 - 让编程简单有趣。</p>
    </footer>
</body>
</html>
