<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>未读代码</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="网站提供 Java 相关教程，Java 进阶知识，以及 Java 相关的其他知识，如数据结构，算法，计算机组成原理，操作系统等。让编程简单有趣">
    <meta name="keywords" content="Java, Java 开发, Java 教程, Java 新特性, Spring Boot">
    <link rel="icon" href="/static/fav.png">
    <link rel="stylesheet" type="text/css" href="https://jsdelivr.wdbyte.com/gh/niumoo/bit.css@265e32f/bit.min.css">
    <script>
        <!-- baidu-->
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?95fc5fbbc05e1ddccdeb992adfe12ded";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
        <!-- Google Analytics -->
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-130656610-2', 'auto');
        ga('send', 'pageview');
        <!-- End Google Analytics -->
    </script>
    <style>
        .main{
            background: white;
            padding: 1em;
        }
        body{
            background-color: #eee;
        }
        /* 回到顶部*/
        #topBtn {display: none;position: fixed;bottom: 30px;right: 30px;z-index: 99;}
    </style>
</head>
<body>
<div>
    <h1> <a class="home" href="/">程序猿阿朗</a> </h1>
</div>
<div class="main">
    <blockquote>
        <p>Hi there 👋 我是阿朗， 一名 Java 开发者，热衷于分享一些通俗易懂的技术文章。 分享几句鸡汤，长寿在于生活规律；成功在于坚持不懈。 做好的事情，而不是好做的事情。</p>
    </blockquote>
    <div class="post-list">
        <h2>📅 最近更新</h2>
        <!--        <p th:each="postInfoTemp:${postInfoList}"><span class="post-list-update" th:text="${postInfoTemp.getDate().substring(0,10)}">12-19</span><a th:href="${postInfoTemp.getPermalink()}" th:text="${postInfoTemp.getTitle()}">文章标题</a></p>-->
        <ul>
            <li th:each="postInfoTemp:${postInfoList}"><a th:href="${postInfoTemp.getPermalink()}" th:text="${postInfoTemp.getTitle()}">文章标题</a></li>
        </ul>
        [(${postInfo.getHtmlContent()})]
    </div>
    <div>
        <a href="/feed.xml">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 viewBox="0 0 455.731 455.731" xml:space="preserve" width="30px">
            <g><rect x="0" y="0" style="fill:#F78422;" width="455.731" height="455.731"/>
                <g>
                <path style="fill:#FFFFFF;" d="M296.208,159.16C234.445,97.397,152.266,63.382,64.81,63.382v64.348
                    c70.268,0,136.288,27.321,185.898,76.931c49.609,49.61,76.931,115.63,76.931,185.898h64.348
                    C391.986,303.103,357.971,220.923,296.208,159.16z"/>
                    <path style="fill:#FFFFFF;" d="M64.143,172.273v64.348c84.881,0,153.938,69.056,153.938,153.939h64.348
                    C282.429,270.196,184.507,172.273,64.143,172.273z"/>
                    <circle style="fill:#FFFFFF;" cx="109.833" cy="346.26" r="46.088"/>
                </g>
            </g>
        </svg>
        </a>
    </div>
</div>
<div id="topBtn"><p><a onclick="topFunction()"  style="font-size: 3em; cursor: pointer;"> 🔝</a></p></div>
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/pangu/4.0.7/pangu.min.js"></script>
<script>
    // 文字格式化
    pangu.spacingElementByClassName('main');
    document.addEventListener('DOMContentLoaded', () => {
        pangu.autoSpacingPage();
    });
    // 回到顶部
    let mybutton = document.getElementById("topBtn");
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
</html>
