<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
    <div th:fragment="common_menu">
        <!-- Navbar -->
        <nav class="navbar" role="navigation" aria-label="main navigation w3-border-bottom">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="/static/fav.png" alt="未读代码" style="width: 50px;max-height:none;margin-right: 5px"/>
                    <h1 style="font-size: 1.4em;font-weight: 500;color: green;background: linear-gradient(126deg, #22a68a 0%, #e93226 58%, #fed111 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;background-clip: text;text-fill-color: transparent;">未读代码</h1>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/java/jdk-jre-jvm/">
                        <span class="icon has-text-primary"><i class="fas fa-coffee"></i></span>
                        <span>Java 基础</span>
                    </a>
                    <a class="navbar-item" href="/java/collection/">
                        <span class="icon has-text-primary"><i class="fas fa-coffee"></i></span>
                        <span>Java 高级</span>
                    </a>
                    <a class="navbar-item " href="/java-feature/">
                        <span class="icon has-text-success"><i class="fas fa-flask"></i></span>
                        <span>Java 新特性</span>
                    </a>
                    <a class="navbar-item" href="/java/io/start/">
                        <span class="icon has-text-primary"><i class="fab fa-patreon"></i></span>
                        <span>Java I/O</span>
                    </a>
                    <a class="navbar-item" href="/2020/03/jdk/hashmap/">
                        <span class="icon" style="color: #f96854"><i class="fas fa-user-secret"></i></span>
                        <span>Java 进阶</span>
                    </a>
                    <a class="navbar-item" href="/java/devtool/">
                        <span class="icon has-text-danger"><i class="fas fa-heart"></i></span>
                        <span>开源工具库</span>
                    </a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            <span class="icon" style="color: green"><i class="fas fa-leaf"></i></span>
                            <span>Web 开发</span>
                        </a>
                        <div class="navbar-dropdown is-boxed">
                            <a class="navbar-item" href="/2019/01/springboot/springboot01-quick-start/">
                                Spring Boot 教程
                            </a>
                            <a class="navbar-item is-selected" href="/auth/jwt/">
                                授权认证
                            </a>
                            <a class="navbar-item" href="/java/jpackage/">
                                编译打包
                            </a>
                            <a class="navbar-item" href="/2018/09/develop/web/web/base-03">
                                Java Web 开发基础
                            </a>
                        </div>
                    </div>
                    <a class="navbar-item" href="/java/performance/">
                        <span class="icon has-text-link"><i class="fas fa-plug"></i></span>
                        <span>性能分析</span>
                    </a>
                    <a class=" navbar-item" href="/java/index/">
                        <span class="icon" style="color: #352824"><i class="fas fa-rocket"></i></span>
                        <span>Java 开发</span>
                    </a>
                    <a class="navbar-item" href="/db/sqlite/">
                        <span class="icon has-text-danger"><i class="fas fa-database"></i></span>
                        <span>数据库</span>
                    </a>
                </div>
                <div class="navbar-end">
                    <a class="navbar-item" href="https://bing.wdbyte.com" target="_blank">
                      <span class="icon" style="color: #ff5722e6;font-size: 1.2em">
                          <i class="fab fa-canadian-maple-leaf"></i>
                      </span>
                    </a>
                    <a class="navbar-item" href="https://debug.group" target="_blank">
                        <span class="icon" style="color: var(--weixin);font-size: 1.2em">
                            <i class="fas fa-tools"></i>
                        </span>
                    </a>
                    <a class="navbar-item" href="https://github.com/niumoo/JavaNotes" target="_blank">
                    <span class="icon" style="color: var(--github);font-size: 1.2em">
                        <i class="fab fa-lg fa-github-alt"></i>
                    </span>
                    </a>

                    <a class="navbar-item" href="/static/wechat.html" target="_blank">
                        <span class="icon" style="color: var(--weixin);font-size: 1.2em">
                            <i class="fab fa-lg fa-weixin"></i>
                        </span>
                    </a>
                    <div class="navbar-item is-hidden-touch">
                        <a class="button is-success" href="/search/">
                            <span class="icon is-small is-hidden-touch is-hidden-desktop-only">
                                <i class="fas fa-lg fa-search"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</head>
<body>
</body>
</html>
