<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:text="${postInfo.getTitle().concat(' | 未读代码')}">标题</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" th:attr="content=${postInfo.getDescription()}">
    <meta name="keywords" th:attr="content=${postInfo.getKeywords()}">
    <link rel="icon" href="/static/fav.png">
    <link rel="stylesheet" type="text/css" href="https://jsdelivr.wdbyte.com/gh/niumoo/bit.css@265e32f/bit.min.css">
    <script>
        <!-- baidu-->
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?95fc5fbbc05e1ddccdeb992adfe12ded";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
        <!-- Google Analytics -->
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-130656610-2', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<style>
    pre code.hljs{
        background: #eeeeee !important;
        padding: 0px !important;
    }
    .main{
        padding: .5em;
        font-family: "PingFang SC","Hiragino Sans GB","Microsoft YaHei" !important;
    }
    blockquote {
        border-left: 3px solid #069706;
    }
    .post-toc{
        background: var(--lesslight);padding: 10px;border: 1px solid #eee; border-radius: 10px;display: none;
    }
    p strong{
        color: green;
        font-weight:500;
    }
    /* 回到顶部*/
    #topBtn {display: none;position: fixed;bottom: 30px;right: 30px;z-index: 99;}
</style>
<body>
<div>
    <h1> <a class="home" href="/">程序猿阿朗</a> </h1>
</div>
<div class="main" id="main">
    <div class="post-title"><h1 th:text="${postInfo.getTitle()}">标题</h1></div>
    <div class="post-time" style="font-size: .9em;">
        <p><i class="fa fa-calendar"></i> 最后更新日期：<span th:text="${postInfo.getUpdated().substring(0,10)}"></span> | <a href="#" onclick="showToc()" id="tocBtn"><i class="fa fa-pencil"></i> 显示目录</a> |
            字体 <a href="#" onclick="changeFontSize(1)" title="增大字体">➕</a>
            <a href="#" onclick="changeFontSize(-1)" title="减小字体">➖</a>
        </p>
    </div>
    <div class="post-toc" id="toc">
        <div><b>目录</b></div>
        <div th:each="tocInfo:${tocInfoList}"><a th:style="'margin: ' + ${tocInfo.getLeft()} + 'px;'" th:href="${'#'+tocInfo.getMiddle()}" th:text="${tocInfo.getRight()}"></a></div>
    </div>
    <div class="post-content">[(${postInfo.getHtmlContent()})]</div>
    <br/>
    <div style="text-align: center">-- END --</div>
</div>
<div id="topBtn"><p><a onclick="topFunction()"  style="font-size: 3em; cursor: pointer;"> 🔝</a></p></div>
<script>
    // 回到顶部
    // Get the button
    let mybutton = document.getElementById("topBtn");
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

    // 目录显示
    let isVisible = false;

    function showToc() {
        var div = document.getElementById("toc");
        var link = document.getElementById("tocBtn");
        isVisible = !isVisible;
        div.style.display = isVisible ? "inline-block" : "none";
        link.innerHTML = isVisible ? '<i class="fa fa-pencil"></i> 隐藏目录' : '<i class="fa fa-pencil"></i> 显示目录';
    }


    // 字体大小调节
    let currentFontSize = 16; // 默认字体大小
    function changeFontSize(change) {
        currentFontSize += change;
        if (currentFontSize < 12) currentFontSize = 12;
        if (currentFontSize > 24) currentFontSize = 24;
        document.querySelector('.post-content').style.fontSize = currentFontSize + 'px';
    }
</script>
<script defer src="https://cdn.bootcdn.net/ajax/libs/pangu/4.0.7/pangu.min.js" onload="pangu.spacingElementByClassName('main'); pangu.autoSpacingPage();"></script>
<link rel="stylesheet" href="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/highlight.js/11.4.0/styles/atom-one-light.min.css">
<script src="/static/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
</body>
</html>