<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:text="${postInfo.getTitle().concat(' | 未读代码')}">标题</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" th:attr="content=${postInfo.getDescription()}">
    <meta name="keywords" th:attr="content=${postInfo.getKeywords()}">
    <link rel="icon" href="/static/fav.png">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/w3-css/4.1.0/w3.min.css">
    <link rel="stylesheet" href="/static/prism.css" />
    <link rel="stylesheet" href="/static/byte-style.css" />
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/vssue/1.4.8/vssue.min.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        <!-- baidu-->
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?95fc5fbbc05e1ddccdeb992adfe12ded";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
        <!-- end baidu-->
        <!-- Google Analytics -->
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-130656610-2', 'auto');
        ga('send', 'pageview');
        <!-- End Google Analytics -->
    </script>
</head>
<body>
<!-- START Top -->
<div class="w3-top">
    <div class="w3-bar w3-theme w3-large" style="z-index:4;">
        <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme" href="javascript:void(0)" onclick="w3_open()">&#9776;</a>
        <a class="w3-bar-item w3-button w3-hover-white" style="padding-top: 12px;padding-bottom: 12px;" href="/">未读代码</a>
        <div th:each="child:${rootNode.getChildren()}"><a class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-hover-white"style="padding-top: 12px;padding-bottom: 12px;" th:href="${child.getChildren().get(0).getChildren().get(0).getData().getPermalink()}" th:text="${child.getName()}">Learn</a></div>
    </div>
</div>
<!-- END Top -->
<!-- START Sidebar -->
<div class="w3-sidebar w3-collapse w3-border-right" style="z-index:3;width:300px" id="mySidebar">
    <div class="w3-bar w3-hide-large w3-large w3-theme">
        <a href="javascript:void(0)" onclick="w3_show_nav('menuTut')" class="w3-bar-item w3-button w3-hover-white w3-padding" >教程目录</a>
        <a href="javascript:void(0)" onclick="w3_close()"             class="w3-bar-item w3-button w3-hover-white w3-padding w3-right" title="Close Menu">&times;</a>
    </div>
    <div id="menuTut" class="w3-bar-block myMenu">
        <div th:each="menu:${menuNode.getChildren()}" class="w3-container">
            <h3 th:text="${menu.getName()}">Tutorials</h3>
            <div th:each="subMenu:${menu.getChildren()}"><a class="w3-bar-item w3-button byte-sidebar-link w3-hover-green" th:href="${subMenu.getData().getPermalink()}" th:text="${subMenu.getData().getTitle()}">Learn</a></div>
        </div>
    </div>
</div>
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
<!-- END Sidebar -->
<div class="w3-main" style="margin-left:300px;margin-top:51px;">
    <!-- START MAIN -->
    <div class="byte-post-toc w3-hide-small w3-hide-medium">
        <div class="w3-center w3-margin-bottom"><b>目录</b> <a id="toc-hidden">隐藏</a></div>
        <div th:each="tocInfo:${tocInfoList}"><a th:style="'margin: ' + ${tocInfo.getLeft()} + 'px;'" th:href="${'#'+tocInfo.getMiddle()}" th:text="${tocInfo.getRight()}"></a></div>
    </div>
    <div class="w3-container w3-padding-large w3-border-right byte-post-content ">
        <h1 th:text="${postInfo.getTitle()}">标题</h1>
        [(${postInfo.getHtmlContent()})]
        <br/> <br/>
    </div>
    <div class="w3-container w3-padding-large w3-border-right byte-post-content "><div id="vssue"></div></div>
    <!-- END MAIN -->
    <div th:include="footer::common_footer"></div>
</div>
<button onclick="topFunction()" id="myBtn" title="Go to top">顶部</button>
<script>
    // Script to open and close the sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }
    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }
    function w3_show_nav(name) {
        document.getElementById("menuTut").style.display = "none";
        document.getElementById(name).style.display = "block";
        w3-open();
    }
</script>
<script src="/static/prism.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/pangu/4.0.7/pangu.min.js"></script>
<script>
    // 文字格式化
    pangu.spacingElementByClassName('byte-post-content');
    document.addEventListener('DOMContentLoaded', () => {
        pangu.autoSpacingPage();
    });
    // 回到顶部
    // Get the button
    let mybutton = document.getElementById("myBtn");
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
    //  toc hide
    const toggleSidebarBtn = document.getElementById('toc-hidden');
    const sidebar = document.querySelector('.byte-post-toc');
    toggleSidebarBtn.addEventListener('click', function() {
        sidebar.classList.toggle('w3-hide');
    });
</script>
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.14/vue.runtime.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/vssue/1.4.8/vssue.github-v4.min.js"></script>
<script src="/static/vssue.js"></script>
</body>
</html>